@charset "utf-8";
/* CSS Document */

body { font-family: Georgia, "Times New Roman", Times, serif; color: #4a4949; font-size: 14px; }

/* ESTRUTURA */
.container { width: 980px; margin: 0 auto; }
.rodape .container { overflow: hidden; padding: 0 15px; width: 950px; }
.Artigo { width: 950px; float:left; padding: 15px; margin: 20px auto; background: #FFF; }
.colEsquerda { width: 635px; min-height: 400px; float: left; margin-right: 12px; padding-right: 12px; border-right: 1px solid #cbcbcb; }
.colDireita { width: 290px; min-height: 400px; float: left; }

.ArtigoInt { width: 620px; height: 700px; float: left; position: relative; }


/* ELEMENTOS */
form { clear: both; }
form#cadContato { width: 620px; padding-top: 40px; }
.rodape form { float: right; margin: 30px 0px 0 0; clear: none; }

input, textarea { border: 1px solid #CBCBCB; color: #CBCBCB; font-style: italic; margin-bottom: 15px; width: 558px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; }
input { height: 30px; padding: 0px 20px; line-height: 30px; }
#cadContato input, #cadContato textarea { width: 578px; }
input:focus, button:hover, textarea:focus { border-color: #adabab; color: #716f6f; }
.menu input, .menu button { float: left; border: 1px solid #cccccc; border-radius: 5px; color: #898380; font-size: 12px; }
.menu input { height: 25px; line-height: 25px; margin-right: 3px; border: none; width: 170px; padding: 0; }
.rodape input { font-size: 12px; height: 23px; line-height: 23px; margin: 0 5px 0 0; padding: 0 4px; width: 145px; float: left; } 

textarea { height: 150px; resize: none; padding: 10px 20px; }

button { display: block; cursor: pointer;  border: 1px solid #CBCBCB; color: #CBCBCB; cursor: pointer; display: block; float: right; line-height: 30px; padding: 0 10px; }
button.ok { height: 25px; text-indent: -10000px; width: 25px; background: url("../img/sprite.png") no-repeat 7px -22px; }
.menu button.ok { border: none; height: 25px; width: 35px; background: none;}
.rodape button.ok { float: right; }

h1 { margin: 50px 0 0; }
h1 a { width: 550px; height: 70px; display: block; text-indent: -10000px; background: url("../img/img_oraculodamoda.png") no-repeat 0 0; }

h2 {     color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: 44px;
    width: 350px; }
h2 span.tableCell {
  display: table;
  height: 44px;
  line-height: 44px;
}
h2 span.tableCell span {
  display: table-cell;
  height: 44px;
  line-height: 24px;
  vertical-align: middle;
}
.lisArtigo h2, .detInstitucional h2, .cadContato h2 { margin-left: 30px; }

h3 { font-size: 18px; color: #4a4949; clear: both; }
.lisArtigoMais h3 { display: block; text-align: center; margin: 10px 0; }
.boxDir h3 { margin-bottom: 10px; padding: 0 0 0 16px; background: url("../img/sprite.png") no-repeat 0 -23px; }
.compartilhe h3, .comente h3 { margin-bottom: 20px; color: #898380; background: url("../img/sprite.png") no-repeat; float: left; padding-right: 20px; }
.compartilhe h3 { background-position: 105px -23px; }
.comente h3 { background-position: 79px -23px; }
.comente h3.comentarios { background-position: 108px -23px;  margin-top: 20px;}

h4 {  }

.vejaMais { font-size: 12px; color: #388595; font-size: 12px; margin: 10px auto 0; width: 75px; }
.vejaMais:hover { text-decoration: underline; }

p.msg { font-weight: bold; clear: both; display: none; float: left; width: 100%; }
#semComentarios { display: block; }
#msgRetorno { display: none;  clear: both; }
#msgRetorno p { display: block; }
p.ok { color: #388595; }
p.erro { }

a { color:#4A4949; text-decoration: underline; }
a:hover { text-decoration: none; color: #000; }

/* AC */
.contAC { clear: both; float: left; margin: 10px 0; overflow: hidden; width: 620px; word-wrap: break-word; }
.contAC p { font-size: 14px; color: #4a4949; font-family: Arial, Helvetica, sans-serif; margin-bottom: 20px; }
.contAC p.autor { margin-top: 30px; color: #898380; font-family: Georgia, "Times New Roman", Times, serif; }


/* MENU */
.menu { width: 980px; height: 78px; background: url("../img/bg_menu.png") no-repeat 0 0; }

.menuPrincipal { width: 980px; }
.menuPrincipal li { height: 43px; line-height: 43px; float: left; margin: 0 0 0 30px; position: relative; }
.menuPrincipal li.contato { float: right; margin-right: 30px; }
.menuPrincipal li.home { margin: 0; }
.menuPrincipal li a { display: block; color: #fffefe; font-size: 18px; padding: 0 10px; text-decoration: none; height: 40px; }
.menuPrincipal li.ativo a { background: #FFFFFF; height: 40px; cursor: default; color: #4a4949; border-bottom: 2px solid #E63D52;  }
.menuPrincipal li.home a { width: 42px; text-indent: -10000px; padding: 0; background: url("../img/sprite.png") no-repeat -354px 0; }
.menuPrincipal li a:hover, .menuPrincipal li:hover a { background: #FFFFFF; border-bottom: 2px solid #E63D52; color: #4a4949; }
.menuPrincipal li.home a:hover, .menuPrincipal li.home a.ativo  { background: url("../img/sprite.png") no-repeat -398px 0 transparent; border-bottom: none; height: 43px; border: none; }
.menuPrincipal li.home a.ativo { cursor: default; }

.menuPrincipal ul { display: none; background: none repeat scroll 0 0 #FFFFFF; border-bottom: 2px solid #E63D52; border-top: 2px solid #E63D52; left: 0; overflow: hidden; padding: 15px 25px; position: absolute; top: 39px; width: 200px; z-index: 999; }
.menuPrincipal li:hover ul { display: block; }
.menuPrincipal li li { float: none; height: auto; margin: 0; }
.menuPrincipal li li a, .menuPrincipal li:hover li a, .menuPrincipal li.ativo li a { font-size: 16px; background: none repeat scroll 0 0 transparent; border: medium none; height: 30px; line-height: 30px; padding: 0; cursor: pointer; }
.menuPrincipal li li a:hover, .menuPrincipal li li a.ativo { color: #E63D52!important; }
.menuPrincipal li li a.ativo { cursor: default; }

.menuSecundario { clear: both; float: left; width: 615px; padding: 0 15px; }
.menuSecundario li { height: 35px; line-height: 32px; margin-right: 30px; float: left; }
.menuSecundario li.ultimo { margin: 0; }
.menuSecundario li a { padding: 3px 10px; font-size: 16px; color: #565656; text-decoration: none; }
.menuSecundario li.menuDestaque a { color: #e63d52; }
.menuSecundario li a:hover { color: #e63d52; text-decoration: underline; }
.menuSecundario li.ativo a, .menuSecundario li.ativo a:hover, .menuSecundario li.menuDestaque a.ativo, .menuSecundario li.menuDestaque a.ativo:hover { border-bottom: 2px solid #E63D52; color: #E63D52; text-decoration: none; cursor: default; }

.menu form { clear: none; float: right; margin: 4px 0 0 0; }


/* LISTAGEM ARTIGO DESTAQUE */
.lisArtigoDet {  padding-right: 15px; }
.lisArtigoDet li { position: relative; margin-bottom: 30px; float: left; }
.lisArtigo .lisArtigoDet li { margin: 0; }
.lisArtigoDet li img { width: 620px; }
.lisArtigoDet li p { width: 560px; margin: 15px; color: #0c0c0a; padding: 15px; font-size: 18px; background: #e3e1e2; position: absolute; bottom: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.lisArtigoDet li p a { clear: both; display: block; }
.lisArtigoDet li:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.lisArtigoDet li:hover p { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.titArtigo {
  background: url("../img/bg_titArtigo.png") no-repeat scroll left bottom transparent;
  float: left;
  height: auto;
  margin: 0 0 0 -30px;
  overflow: hidden;
  padding: 6px 0 18px;
  width: 665px;
}

.catArtigo {
  color: #FFFFFF;
  display: table;
  font-size: 12px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
  width: 175px;
}

.dataArtigo { border-right: 1px solid #AE2D3D; float: left; height: 45px; line-height: 30px; margin: 0px 20px 0 10px; padding: 0 20px; }
.dataArtigo span { display: block; font-weight: bold; text-align: center; color: #fff; font-family: Arial, Helvetica, sans-serif; }
.dataArtigo .dia { font-size: 22px; line-height: 18px; }
.dataArtigo .mesAno { line-height: normal; font-size: 11px; }

.catArtigo { color: #FFFFFF; display: table; font-size: 12px; height: 44px; line-height: 44px; margin: 0; overflow: hidden; padding-right: 15px; text-align: right; width: 175px; }
.catArtigo a {
  color: #FDCDD3;
  display: table-cell;
  font-size: 16px;
  height: 44px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;
  width: 175px;
}
.catArtigo a:hover { text-decoration: underline; color: #fff; }


/* LISTAGEM ARTIGO MAIS */
.lisArtigoMais { width: 620px; float: left; position: relative; }
.lisArtigoMais ul { padding: 25px 0 0; border:1px solid #cbcbcb; border-left: none; border-right: none; overflow: hidden; }
.lisArtigo .lisArtigoMais ul { border: none; }
.lisArtigoMais li { float: left; margin: 0 25px 25px 0; }
.lisArtigoMais li.ultimo { margin-right: 0; }
.lisArtigoMais li a { display: block; background: #e63d52; position: relative; overflow: hidden; width: 190px; height: 155px; }
.lisArtigoMais li a img { width: 190px; min-height: 155px; }
.lisArtigoMais li a p { color: #FFFFFF; font-size: 14px; left: -160px; max-height: 80px; overflow: hidden; position: absolute; top: 15px; width: 160px;}
.lisArtigoMais li a p strong { color: #FFFFFF; display: block; font-size: 18px; margin-bottom: 5px; }
.lisArtigoMais li a span { width: 43px; height: 44px; background: url("../img/sprite.png") no-repeat -305px 0px; position: absolute; bottom: 15px; right: -43px; }
.lisArtigoMais li a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; }
.lisArtigoMais li a:hover p { left: 15px; }
.lisArtigoMais li a:hover span { right: 15px; }
.lisArtigoMais a.vejaMais { background: url("../img/sprite.png") no-repeat 66px  -38px #FFFFFF; bottom: -8px; left: 275px; padding: 2px 10px; position: absolute; width: 65px; text-decoration: none; }


/* PUBLICIDADE */
.colEsquerda .publicidade { margin: 50px 0; clear: both; float: left; }
.publicidadeDir { margin-top: 30px; float: left; }
.publicidadeDir li { margin-bottom: 5px; }
.publicidadeDir img { width: 290px; }
.publicidade a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }


/* INSTITUCIONAL */
.imgKetty { float: left; width: 200px; height: 200px; margin-right: 20px; }
.dadosKetty { float: left; width: 400px; margin-top: 20px; }
.dadosKetty span { display: block; margin-bottom: 5px; }
.dadosKetty span strong { margin-right: 5px; }


/* BOX COLUNA DIREITA */
.boxDir { margin-top: 30px; float: left; }
.boxDir a { position: relative; display: block; }
.boxDir a p { width: 250px; color: #0c0c0a; padding: 10px; margin: 10px; font-size: 12px; background: #e3e1e2; position: absolute; bottom: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.boxDir a p  strong { display: block; font-size: 14px; margin-bottom: 5px; }
.boxDir a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.boxDir a:hover p { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }


/* MAIS ARTIGOS */
.maisArtigos { float: left; clear: both; }
.maisArtigos li { float: left; margin: 0 0 10px 10px; }
.maisArtigos li.primeiro { margin: 0; }
.maisArtigos li a { }
.maisArtigos li img { width: 90px; }


/* MAIS CATEGORIAS */
ul.maisCategorias { margin: 0 10px; width: 270px; }
ul.maisCategorias li { clear: both; margin-bottom: 5px; overflow: hidden; }
ul.maisCategorias li a { color: #565656; font-size: 16px; padding: 3px 10px; float: left; text-decoration: none; }
ul.maisCategorias li a:hover, ul.maisCategorias li a.ativo { background: #E63D52; color: #fff; }


/* COMPARTILHE / COMENTE */
.compartilhe, .comente { width: 600px; float: left; margin: 10px 0; padding: 10px; border-top: 1px solid #cbcbcb; clear: both; }

.compartilhe { }
.btnCompartilhe { clear: both; width: 100%; }
.btnCompartilhe a { float: left; margin-right: 15px; }
.btnCompartilhe a a { float: none; margin: 0; }
.addthis_button_email, .addthis_button_print { margin-top: 3px; }
.addthis_button_facebook { margin-top: 2px; }
.addthis_button_google_plusone { width: 60px; }

.comente { border: none; }
#comentarios { float: left; clear: both; width: 600px; }
#comentarios li { border-bottom: 1px solid #CCCCCC; overflow: hidden; padding: 20px; }
#comentarios li.newComentario { display: none; background: #EFFCFF; }
#comentarios li strong { margin-right: 5px; clear: both; float: left; width: 95px; text-align: right; }
#comentarios li em { float: left; }


/* RODAPE */
.rodape { background: #fff; clear: both; }
.rodape .contRod { padding: 40px 10px; margin: 35px 0; overflow: hidden; border: 1px solid #cbcbcb; border-left: none; border-right: none; }

.rodape .linksRodape { width: 730px; float: left; }
.rodape .linksRodape li { margin: 5px 0px; clear: both; overflow: hidden; }
.rodape .linksRodape li .catRodape { width: 110px; float: left; margin: 0 5px 0 0; color: #e63d52; text-align: right; }
.rodape .linksRodape li a { margin: 0 10px; float: left; color: #a3a2a2; text-decoration: none; }
.rodape .linksRodape li a:hover { text-decoration: underline; color: #535353; }

.rodape .redesRodape { width: 180px; padding: 0 10px; float: left; }
.rodape .redesRodape li { width: 26px; float: right; margin: 0 5px; position: relative; }
.rodape .redesRodape a { width: 26px; height: 19px; text-indent: -10000px; display: block; background: url("../img/sprite.png") no-repeat; }
/*.rodape .redesRodape a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }*/
.rodape .redesRodape a.facebook { background-position: 0 0; }
.rodape .redesRodape a.email { background-position: -26px 0; }
.rodape .redesRodape a.rss { background-position: -50px 0; }
.rodape .redesRodape a.twitter { background-position: -76px 0; }

.rodape .copyright { height: 40px; line-height: 40px; padding-bottom: 50px; background: #388595; }
.rodape .copyright .bordaBottom { overflow: hidden; border-bottom: 1px solid #cbcbcb; }
.rodape .copyright p { float: left; margin-left: 135px; font-size: 12px; color: #fff; }

.rodape .assinatura { float: right; margin: 75px 15px 0 0; }
.rodape .assinatura a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }


/* BALÃO */
.boxBalao { overflow: hidden; padding-bottom: 8px; background: url("../img/seta_balaoBottom.png") no-repeat center 21px; position: absolute; top: -35px; }
.boxBalao .boxBalaoBG  { padding-left: 10px; float: left; background: url("../img/sprite.png") no-repeat -114px 0; }
.boxBalao .boxBalaoBG span { height: 23px; line-height: 23px; display: block; color: #fff; font-size: 10px; padding-right: 10px; background: url("../img/sprite.png") no-repeat right  0; }
li .boxBalao { display: none; }
li:hover .boxBalao { display: block; }

.facebook .boxBalao { right: -18px; }
.email .boxBalao { right: -11px; }
.rss .boxBalao { right: -5px; }
.twitter .boxBalao { right: -12px; }

/* ANIMAÇÃO */
a, .rodape ul li a, input, button, textarea, .rodape .assinatura a, .publicidade a img, .lisArtigoDet li img, .lisArtigoMais li a img, .lisArtigoMais li a span, .lisArtigoDet li p, .lisArtigoMais li a p, .boxDir a p, .boxDir a img, div.caption-container, .catArtigo a, ul.maisCategorias li a 
{ -moz-transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s; }
/*{ -webkit-transition: color 500ms; -moz-transition: color 500ms; -ms-transition: color 500ms; -o-transition: color 500ms; transition: color 500ms; }*/