$width: 1280px;
$padding-container: 40px;
$padding-col: 30px;
$padding-mini-col: 10px;

$font-size: 1.125rem;

$cor-txt: #4a4a4a;

/* CORES */
$cor1: #cf0a2c; // VERMELHO
$cor2: #003d72; // AZUL
$cor3: #f6b221; // AMARELO
$cor4: #996633; // BEGE
$cor5: #881d23; // BORDÔ
$cor6: #417505; // VERDE
$cor7: #ff7f00; // LARANJA

$verde-limao: #7dff14;
$cinza: #DCDCDC;
$laranja: #CB521C;
$lilas: #8D1C7B;
$verde-claro: #5EA47E;

$bgescuro: #383838;
$bgclaro: #f9f9f9;

$verde: #007f3d;
$amarelo: #f5db00;
$azul: #3e4095;
$vermelho: #e70606;
//$laranja: #ff8a00;
$azul-celeste: #35cbc9;


$rosa: #ed7db5;

$dourado: #a4925f;
//$azul: #62b5e5;
$bege: #a4925f;
$bordo: #790000;

$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #b5bd00;
$pink: #f4364c;

$light: 300;
//$regular: 400;
$medium: 400;
$regular: $medium;
$bold: 700;
$extra-bold: 900;


// slide
$hSlide: calc(100vh - 170px);